In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('ord_daily_weather.xlsx', sheet_name='Sheet1')

In [3]:
df = df.replace(-99, None)

In [4]:
df = df.convert_objects(convert_numeric=True)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [5]:
df['avg_temp_f'] = df[['max_temp_f', 'min_temp_f']].mean(axis=1)
df['avg_dp_f'] = df[['max_dewpoint_f', 'min_dewpoint_f']].mean(axis=1)

In [6]:
df

,station,day,max_temp_f,min_temp_f,max_dewpoint_f,min_dewpoint_f,avg_temp_f,avg_dp_f
0,ORD,1948-01-01,32.0,28.0,32.0,28.0,30.0,30.00
1,ORD,1948-01-02,30.0,24.0,27.0,24.0,27.0,25.50
2,ORD,1948-01-03,34.0,25.0,32.0,25.0,29.5,28.50
3,ORD,1948-01-04,34.0,25.0,30.0,25.0,29.5,27.50
4,ORD,1948-01-05,33.0,26.0,31.0,26.0,29.5,28.50
5,ORD,1948-01-06,31.0,14.0,30.0,14.0,22.5,22.00
6,ORD,1948-01-07,35.0,10.0,30.0,10.0,22.5,20.00
7,ORD,1948-01-08,38.0,19.0,36.0,19.0,28.5,27.50
8,ORD,1948-01-09,36.0,29.0,32.0,29.0,32.5,30.50
9,ORD,1948-01-10,31.0,15.0,24.0,15.0,23.0,19.50
10,ORD,1948-01-11,34.0,20.0,31.0,20.0,27.0,25.50
11,ORD,1948-01-12,35.0,22.0,31.0,22.0,28.5,26.50
12,ORD,1948-01-13,22.0,8.0,16.0,8.0,15.0,12.00
13,ORD,1948-01-14,7.0,-3.0,0.0,-3.0,2.0,-1.50
14,ORD,1948-01-15,34.0,6.0,29.0,6.0,20.0,17.50
15,ORD,1948-01-16,9.0,-4.0,4.0,-4.0,2.5,0.00
16,ORD,1948-01-17,6.0,-11.0,-8.0,-11.0,-2.5,-9.50
17,ORD,1948-01-18,15.0,-11.0,5.0,-11.0,2.0,-3.00
18,ORD,1948-01-19,24.0,1.0,15.0,1.0,12.5,8.00
19,ORD,1948-01-20,35.0,-1.0,31.0,-1.0,17.0,15.00
20,ORD,1948-01-21,27.0,2.0,21.0,2.0,14.5,11.50
21,ORD,1948-01-22,13.0,-4.0,7.0,-4.0,4.5,1.50
22,ORD,1948-01-23,13.0,-3.0,3.0,-3.0,5.0,0.00
23,ORD,1948-01-24,17.0,-2.0,14.0,-2.0,7.5,6.00
24,ORD,1948-01-25,20.0,0.0,12.0,0.0,10.0,6.00
25,ORD,1948-01-26,15.0,3.0,8.0,3.0,9.0,5.50
26,ORD,1948-01-27,6.0,-7.0,0.0,-7.0,-0.5,-3.50
27,ORD,1948-01-28,14.0,-9.0,4.0,-9.0,2.5,-2.50
28,ORD,1948-01-29,24.0,4.0,15.0,4.0,14.0,9.50
29,ORD,1948-01-30,25.0,9.0,22.0,9.0,17.0,15.50
...,...,...,...,...,...,...,...,...
25898,ORD,2018-12-01,42.0,36.0,41.0,33.1,39.0,37.05
25899,ORD,2018-12-02,44.0,35.0,42.1,30.0,39.5,36.05
25900,ORD,2018-12-03,35.0,29.0,30.2,21.9,32.0,26.05
25901,ORD,2018-12-04,32.0,28.0,23.0,19.9,30.0,21.45
25902,ORD,2018-12-05,33.0,25.0,27.0,16.0,29.0,21.50
25903,ORD,2018-12-06,33.0,19.0,27.0,10.9,26.0,18.95
25904,ORD,2018-12-07,25.0,16.0,14.0,8.1,20.5,11.05
25905,ORD,2018-12-08,32.0,20.0,16.0,12.0,26.0,14.00
25906,ORD,2018-12-09,35.0,17.0,23.0,14.0,26.0,18.50
25907,ORD,2018-12-10,34.0,16.0,25.0,12.9,25.0,18.95
25908,ORD,2018-12-11,38.0,25.0,28.0,21.9,31.5,24.95
25909,ORD,2018-12-12,41.0,29.0,32.0,23.0,35.0,27.50
25910,ORD,2018-12-13,46.0,24.0,39.0,21.9,35.0,30.45
25911,ORD,2018-12-14,40.0,32.0,39.2,32.0,36.0,35.60
25912,ORD,2018-12-15,46.0,26.0,34.0,23.0,36.0,28.50
25913,ORD,2018-12-16,49.0,25.0,33.1,25.0,37.0,29.05
25914,ORD,2018-12-17,42.0,28.0,27.0,19.9,35.0,23.45
25915,ORD,2018-12-18,42.0,25.0,30.0,19.9,33.5,24.95
25916,ORD,2018-12-19,49.0,33.0,39.9,26.1,41.0,33.00
25917,ORD,2018-12-20,46.0,38.0,44.6,36.0,42.0,40.30
25918,ORD,2018-12-21,38.0,29.0,36.0,23.0,33.5,29.50
25919,ORD,2018-12-22,34.0,28.0,28.0,23.0,31.0,25.50
25920,ORD,2018-12-23,38.0,28.0,28.0,17.1,33.0,22.55
25921,ORD,2018-12-24,33.0,23.0,21.9,15.1,28.0,18.50
25922,ORD,2018-12-25,45.0,28.0,32.0,21.9,36.5,26.95
25923,ORD,2018-12-26,47.0,26.0,34.0,25.0,36.5,29.50
25924,ORD,2018-12-27,53.0,39.0,50.0,30.0,46.0,40.00
25925,ORD,2018-12-28,53.0,30.0,50.0,25.0,41.5,37.50
25926,ORD,2018-12-29,30.0,22.0,28.9,18.0,26.0,23.45
25927,ORD,2018-12-30,36.0,19.0,28.0,15.1,27.5,21.55

In [7]:
def fahr_to_celsius(temp_fahr):
    """Convert Fahrenheit to Celsius
    
    Return Celsius conversion of input"""
    temp_celsius = (temp_fahr - 32) * 5 / 9
    return temp_celsius

In [8]:
df["max_temp_c"] = fahr_to_celsius(df["max_temp_f"])
df["min_temp_c"] = fahr_to_celsius(df["min_temp_f"])
df["max_dewpoint_c"] = fahr_to_celsius(df["max_dewpoint_f"])
df["min_dewpoint_c"] = fahr_to_celsius(df["min_dewpoint_f"])
df["avg_temp_c"] = fahr_to_celsius(df["avg_temp_f"])
df["avg_dp_c"] = fahr_to_celsius(df["avg_dp_f"])

In [9]:
df['day'] = pd.to_datetime(df['day'])

In [10]:
df[['year','month','day']] = df.day.apply(lambda x: pd.Series(x.strftime("%Y,%m,%d").split(",")))

In [11]:
df2 = df.min_dewpoint_f.isnull().groupby([df['year']]).sum().astype(int).reset_index(name='min_dewpoint_f_count')

In [12]:
df2

    year  min_dewpoint_f_count
0   1948                     3
1   1949                     0
2   1950                     0
3   1951                     0
4   1952                     0
5   1953                     0
6   1954                     0
7   1955                     0
8   1956                     0
9   1957                     0
10  1958                     0
11  1959                     0
12  1960                     0
13  1961                     0
14  1962                     0
15  1963                     0
16  1964                     0
17  1965                     0
18  1966                     0
19  1967                     0
20  1968                     0
21  1969                     0
22  1970                     0
23  1971                     0
24  1972                     0
25  1973                     0
26  1974                     0
27  1975                     0
28  1976                     0
29  1977                     0
..   ...                   ...
41  1989                     0
42  1990                     0
43  1991                     0
44  1992                     0
45  1993                     0
46  1994                     0
47  1995                     0
48  1996                   366
49  1997                   365
50  1998                   365
51  1999                   365
52  2000                    53
53  2001                     0
54  2002                     0
55  2003                     0
56  2004                     0
57  2005                     0
58  2006                     0
59  2007                     0
60  2008                     0
61  2009                     0
62  2010                     0
63  2011                     0
64  2012                     0
65  2013                     0
66  2014                     0
67  2015                     0
68  2016                     0
69  2017                     0
70  2018                     0

[71 rows x 2 columns]

In [13]:
df2['min_dewpoint_f_percentage'] = ((df2['min_dewpoint_f_count']/365)*100)

In [14]:
df2

    year  min_dewpoint_f_count  min_dewpoint_f_percentage
0   1948                     3                   0.821918
1   1949                     0                   0.000000
2   1950                     0                   0.000000
3   1951                     0                   0.000000
4   1952                     0                   0.000000
5   1953                     0                   0.000000
6   1954                     0                   0.000000
7   1955                     0                   0.000000
8   1956                     0                   0.000000
9   1957                     0                   0.000000
10  1958                     0                   0.000000
11  1959                     0                   0.000000
12  1960                     0                   0.000000
13  1961                     0                   0.000000
14  1962                     0                   0.000000
15  1963                     0                   0.000000
16  1964                     0                   0.000000
17  1965                     0                   0.000000
18  1966                     0                   0.000000
19  1967                     0                   0.000000
20  1968                     0                   0.000000
21  1969                     0                   0.000000
22  1970                     0                   0.000000
23  1971                     0                   0.000000
24  1972                     0                   0.000000
25  1973                     0                   0.000000
26  1974                     0                   0.000000
27  1975                     0                   0.000000
28  1976                     0                   0.000000
29  1977                     0                   0.000000
..   ...                   ...                        ...
41  1989                     0                   0.000000
42  1990                     0                   0.000000
43  1991                     0                   0.000000
44  1992                     0                   0.000000
45  1993                     0                   0.000000
46  1994                     0                   0.000000
47  1995                     0                   0.000000
48  1996                   366                 100.273973
49  1997                   365                 100.000000
50  1998                   365                 100.000000
51  1999                   365                 100.000000
52  2000                    53                  14.520548
53  2001                     0                   0.000000
54  2002                     0                   0.000000
55  2003                     0                   0.000000
56  2004                     0                   0.000000
57  2005                     0                   0.000000
58  2006                     0                   0.000000
59  2007                     0                   0.000000
60  2008                     0                   0.000000
61  2009                     0                   0.000000
62  2010                     0                   0.000000
63  2011                     0                   0.000000
64  2012                     0                   0.000000
65  2013                     0                   0.000000
66  2014                     0                   0.000000
67  2015                     0                   0.000000
68  2016                     0                   0.000000
69  2017                     0                   0.000000
70  2018                     0                   0.000000

[71 rows x 3 columns]

In [15]:
df2.to_csv('years_greaterthan_ten.csv', sep=',')

In [ ]:
df.to_csv('test.csv', sep=',')